In [1]:
import pandas as pd
import numpy as np
class BookLover():
    '''Stores data about books users have read.'''
    num_books = 0
    book_list = pd.DataFrame({'book_name':[], 'book_rating':[]})
    
    def __init__(self,name,email,fav_genre):
        self.name = name
        self.email = email
        self.fav_genre = fav_genre
        
        
    def add_book(self,book_name,book_rating):
        # Check if value book_name exists in any rows of any columns
        if self.book_list.isin([book_name]).any().any():
            print("Book already exists in the DataFrame")
        else:
            self.num_books += 1
            new_book = pd.DataFrame({
            'book_name': [book_name], 
            'book_rating': [book_rating]
            })
            self.book_list = pd.concat([self.book_list, new_book], ignore_index=True)
        
        
        #try:
            #self.num_books += 1
            #new_book = pd.DataFrame({
            #'book_name': [book_name], 
            #'book_rating': [book_rating]
            #})
            #self.book_list = pd.concat([self.book_list, new_book], ignore_index=True)
        #except: 
            #new_book['book_name'] == self.book_name
            
        
        
        
        #if book_name in self.book_list:
            #pass
       # else:
            #self.num_books += 1
            #new_book = pd.DataFrame({
            #'book_name': [book_name], 
            #'book_rating': [book_rating]
            #})
            #self.book_list = pd.concat([self.book_list, new_book], ignore_index=True)
        
        
    def has_read(self,book_name):
        #The method should return True if the person has read the book, False otherwise.
        if self.book_list.isin([book_name]).any().any():
            return True
        else:
            return False
        
        #if book_name in self.book_list:
            #return True
        #else:
            #return False
        
        
    def num_books_read(self):
        return self.book_list.shape[0]
        #return self.num_books
    
    def fav_books(self):
        #return [print(book_name) for book in book_rating > 3]
        #return self.book_list[(self.book_list.book_rating > 3)].values()
         #return self.book_list.query("book_rating > 3").values()
        #return self.book_list[self.book_rating > 3].values
        return self.book_list[self.book_list.book_rating > 3]

In [2]:
test_object = BookLover("Han Solo", "hsolo@millenniumfalcon.com", "scifi")

In [3]:
test_object.name

'Han Solo'

In [4]:
test_object.email

'hsolo@millenniumfalcon.com'

In [5]:
test_object.fav_genre

'scifi'

In [6]:
test_object.add_book("War of the Worlds", 4)

In [7]:
test_object.book_list

           book_name  book_rating
0  War of the Worlds          4.0

In [8]:
test_object.has_read('Barbie')

False

In [9]:
test_object.has_read("War of the Worlds")

True

In [10]:
test_object.num_books

1

In [11]:
test_object.num_books_read()

1

In [12]:
test_object.add_book("War of the Worlds",5) 
test_object.add_book("Jane Eyre", 4)
test_object.add_book("Fight Club", 3)
test_object.add_book("The Divine Comedy", 5)
test_object.add_book("The Popol Vuh", 5)

Book already exists in the DataFrame

In [13]:
test_object.book_list

           book_name  book_rating
0  War of the Worlds          4.0
1          Jane Eyre          4.0
2         Fight Club          3.0
3  The Divine Comedy          5.0
4      The Popol Vuh          5.0

In [14]:
test_object.num_books_read()

5

In [15]:
test_object.fav_books()

           book_name  book_rating
0  War of the Worlds          4.0
1          Jane Eyre          4.0
3  The Divine Comedy          5.0
4      The Popol Vuh          5.0

In [16]:
test_object.book_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   book_name    5 non-null      object
 1   book_rating  5 non-null      float64
dtypes: float64(1), object(1)
memory usage: 212.0+ bytes

In [17]:
test_object.book_list['book_rating']

0    4.0
1    4.0
2    3.0
3    5.0
4    5.0
Name: book_rating, dtype: float64

In [18]:
mask = test_object.book_list['book_rating'] > 3

In [19]:
mask

0     True
1     True
2    False
3     True
4     True
Name: book_rating, dtype: bool

In [20]:
test_object.book_list.book_rating[mask].values

array([4., 4., 5., 5.])

In [21]:
test_object.book_list[test_object.book_list.book_rating > 3]

           book_name  book_rating
0  War of the Worlds          4.0
1          Jane Eyre          4.0
3  The Divine Comedy          5.0
4      The Popol Vuh          5.0

In [22]:
test_object.book_list

           book_name  book_rating
0  War of the Worlds          4.0
1          Jane Eyre          4.0
2         Fight Club          3.0
3  The Divine Comedy          5.0
4      The Popol Vuh          5.0

In [23]:
test_object.fav_books()

           book_name  book_rating
0  War of the Worlds          4.0
1          Jane Eyre          4.0
3  The Divine Comedy          5.0
4      The Popol Vuh          5.0