In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df = pd.DataFrame({"features": [1.0, 2.0, 3.0,4.0,5.0],"labels": [0,1,2,3,4]})

In [4]:
df

   features  labels
0       1.0       0
1       2.0       1
2       3.0       2
3       4.0       3
4       5.0       4

In [5]:
df = df.rename(columns={"lables":"label"})

In [6]:
df

   features  labels
0       1.0       0
1       2.0       1
2       3.0       2
3       4.0       3
4       5.0       4

In [7]:
iris = sns.load_dataset('iris')

In [9]:
iris.sort_values('species', ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
111           6.4          2.7           5.3          1.9  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
31            5.4          3.4           1.5          0.4     setosa
30            4.8          3.1           1.6          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

In [13]:
iris.species.value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [16]:
iris.species.value_counts(dropna = False).to_frame('n')

             n
species
setosa      50
versicolor  50
virginica   50

In [15]:
iris.value_counts("species")

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [19]:
mask = iris[(iris.petal_length <= 1.4) | (iris.petal_length >= 1.6)]

In [20]:
print(mask)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[137 rows x 5 columns]

In [21]:
len(mask)

137

In [22]:
mask.shape[0]

137

In [24]:
iris['min_petal'] = iris.apply(lambda x: min(x.petal_length, x.petal_width), axis = 1)

In [25]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  min_petal
0           5.1          3.5           1.4          0.2  setosa        0.2
1           4.9          3.0           1.4          0.2  setosa        0.2
2           4.7          3.2           1.3          0.2  setosa        0.2
3           4.6          3.1           1.5          0.2  setosa        0.2
4           5.0          3.6           1.4          0.2  setosa        0.2

In [26]:
iris.tail()

,sepal_length,sepal_width,petal_length,petal_width,species,min_petal
145,6.7,3.0,5.2,2.3,virginica,2.3
146,6.3,2.5,5.0,1.9,virginica,1.9
147,6.5,3.0,5.2,2.0,virginica,2.0
148,6.2,3.4,5.4,2.3,virginica,2.3
149,5.9,3.0,5.1,1.8,virginica,1.8

In [27]:
pd.pivot_table(iris,
               values = ['sepal_width','petal_width'],
               columns = ['species'],
               aggfunc = [np.mean, np.median])

              mean                      median
species     setosa versicolor virginica setosa versicolor virginica
petal_width  0.246      1.326     2.026    0.2        1.3       2.0
sepal_width  3.428      2.770     2.974    3.4        2.8       3.0