In [3]:
val = 5
if -10<val<-5:
    print('bucket1')
elif -5 <= val <-2:
    print('bucket')
elif val == -2:
    print('bucket 3')
    
# 5 prints nothing, modify by adding else statement 
else:
    print('bucket4')

bucket4

In [5]:
xx = [-2,8,0,5,6]
max_val = max(xx)
for x in xx:
    if x < max_val:
        print(x)
    else:
        print("max_val")

8
-2
max_val
0
5
6

In [6]:
# Comprehension Version 
for x in xx:
    print(x) if x < max_val else print('max_val')
    # do this if this is true, if not true do this

-2
max_val
0
5
6

In [8]:
it = 0
max_iter = 100
while it < max_iter:
    if (it == 0) or (it % 10 == 0):
        print(it)
    it = it + 1

0
10
20
30
40
50
60
70
80
90

In [11]:
names = ["Alanna", "Etienne","Tim","Nicole"]
for name in names:
    print(name.lower())

alanna
etienne
tim
nicole

In [12]:
# Comprehension Version 
# Underscore is a placeholder, gets thrown away
_ = [print(x.lower()) for x in names]

alanna
etienne
tim
nicole

In [13]:
myit = iter(names)
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

Alanna
Etienne
Tim
Nicole

In [ ]:
# Comprehension

In [14]:
iowa = {'Cedar Rapids':52402, 'Ames': 50014}
for city,zip in iowa.items():
    print(city,zip)

Cedar Rapids 52402
Ames 50014

In [16]:
# Comprehension Version
_ =[print(city,zip) for city,zip in iowa.items()]

Cedar Rapids 52402
Ames 50014

In [20]:
print("\n".join([f"{city} {zip}" for city,zip in iowa.items()]))

Cedar Rapids 52402
Ames 50014